/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.opaque {
    opacity: 0.5;
}

.text-uppercase {
    text-transform: uppercase;
}
.text-center {
    text-align: center;
}

.flex-container {
    display: flex;
    width: 100%;
    height: calc(100vh - 90px);
}

.flex-row {
    display: flex;
    align-items: center;
}

.xs-only {
    display: none;
}

/* left-menu */
.left-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 230px;
    background-color: black;
    font-size: 12px;
    overflow: hidden;
}

.left-menu-top {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.logo {
    line-height: 90px;
    padding-left: 15px;
}    
.logo img {
    height: 50px;
    vertical-align: middle;
}

.left-nav {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.list-nav {
    list-style: none;
}
.list-nav-top li {
    padding: 5px 0 5px 15px;
    border-left: solid 2px transparent;
}
.list-nav img {
    height: 30px;
}
.list-nav a {
    text-decoration: none;
    color: white;
}
.list-nav span {
    padding-left: 10px;
}

.list-nav-top li:first-child {
    border-left: solid 2px #a5f42d;
}

.list-playlist {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    padding: 20px 0 0 15px;
}

.list-playlist > a {
    margin: 15px 0;
    text-decoration: none;
    color: white;
}

.list-playlist > a span {
    padding-left: 10px;
    font-size: 14px;
}

.add-playlist {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: bolder;
}

.list-playlist li {
    padding: 5px 0;
    line-height: 25px;
}

.list-playlist .list-nav {
    overflow-y: auto;
}

.left-menu-bottom {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    flex-shrink: 2;
    padding: 0 15px;
}

.download {
    display: flex;
    align-items: center;
    margin: 20px 0 10px;
    color: white;
    text-decoration: none;
}
.download img {
    height: 20px;
}
.download span {
    padding-left: 10px;
    font-size: 12px;
}

.profile {
    display: flex;
    align-items: center;
    padding: 10px 0 5px;
    border-top: solid 1px white;
}
.profile-image {
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    overflow: hidden;
    background-color: #808080;
    border-radius: 50%;
}
.profile img {
    height: 100%;
}
.profile span {
    padding-left: 10px;
    font-size: 16px;
    font-weight: bold;
}

.left-menu a:hover {
    opacity: 1;
}
/* app-view */
.app-view {
    width: calc(100% - 230px);
    background-color: #141922;
    overflow-y: auto;
}

.upgrade-panel {
    position: fixed;
    top: 0;
    width: calc(100% - 230px);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 90px;
    background-color: rgba(14, 14, 14, 0.7);
    z-index: 1;
}

.upgrade-button {
    margin-right: 20px;
    padding: 10px 40px;
    border: solid 1px white;
    border-radius: 20px;
    font-size: 12px;
}
.upgrade-button:hover {
    transform: scale(1.1);
}

.nav-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 110px;
}
.nav-main a {
    margin: 0 20px 30px;
    text-decoration: none;
    color: white;
    font-size: 12px;
    opacity: 0.5;
}
.nav-main a:hover {
    opacity: 1;
}
.nav-main a:first-child::after{
    content: "";
    display: block;
    margin: auto;
    width: 40%;
    border: solid 1px #a5f42d;
}

.app-section {
    padding: 10px 10px 0px;
}
.app-section h2 {
    font-size: 16px;
}
.playlists {
    display: flex;
    padding-bottom: 30px;
}
.recent .playlists {
    justify-content: space-between;
}

.app-section > span {
    font-size: 10px;
}

.playlist-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    padding: 20px 15px 0 0;
}
.recent .playlist-item {
    padding-right: 0;
}

.playlist-item:hover {
    cursor: pointer;
}
.playlist-image {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}
.playlist-image img {
    width: 100%;
}
.playlist-image i {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.playlist-image:hover i {
    opacity: 1;
}
.playlist-image:hover img {
    opacity: 0.5;
}
.playlist-item h3 {
    padding-bottom: 10px;
    font-size: 12px;
}
.playlist-item span {
    font-size: 10px;
}

.artists img {
    border-radius: 50%;
}

/* playbar */
.playbar {
    display: flex;
    justify-content: space-between;
    height: 90px;
    background-color: #282828;
}

.playbar i:hover {
    cursor: pointer;
}

.playbar-left,
.playbar-right {
    width: 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.playbar-center {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.song {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.song-image img {
    width: 50px;
}

.song-name {
    padding-left: 10px;
}
.song-name h5 {
    font-size: 12px;
}
.song-name p {
    font-size: 10px;
}
.song-name p:hover {
    opacity: 1;
    text-decoration: underline;
    cursor: pointer;
}

.add-song i {
    padding: 5px;
}
.add-song i:hover {
    opacity: 1;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}
.buttons i:nth-child(3):hover {
    transform: scale(1.2);
}

.song-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.song-time span {
    width: 15%;
    text-align: center;
    font-size: 10px;
}
.total-time {
    position: relative;
    width: 70%;
    border: solid 2px rgba(256, 256, 256, 0.3);
    border-radius: 2px;
}
.total-time i {
    position: absolute;
    top: 0;
    left: calc(10% - 2px);
    transform: translate(-50%,-50%);
    font-size: 12px;
    opacity: 0;
}

.current-time {
    position: absolute;
    top: -2px;
    left: -2px;
    width: 10%;
    border: solid 2px white;
    border-radius: 2px;
}
.total-time:hover .current-time {
    border: solid 2px #a5f42d;
}

.playbar-right-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}

.volume {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}

.volume-bar {
    position: relative;
    width: 80%;
    border: solid 2px rgba(256, 256, 256, 0.3);
    border-radius: 2px;
}
.volume-bar i {
    position: absolute;
    top: 0;
    left: calc(20% - 2px);
    transform: translate(-50%,-50%);
    font-size: 12px;
    opacity: 0;
}

.volume-level {
    position: absolute;
    top: -2px;
    left: -2px;
    width: 20%;
    border: solid 2px white;
    border-radius: 2px;
}
.volume-bar:hover .volume-level {
    border: solid 2px #a5f42d;
}

.total-time:hover i,
.volume-bar:hover i {
    opacity: 1;
}
.total-time:hover,
.volume-bar:hover {
    cursor: pointer;
}

@media screen and (max-width: 1199px) {

    .recent .playlists {
        flex-wrap: wrap;
        justify-content: start;
    }
    .playlist-item {
        width: 25%;
    }
    .recent .playlist-item {
        padding-right: 15px;
    }
}

@media screen and (max-width: 991px) {

    .playlist-item {
        width: 50%;
    }

    .playbar-right,
    .playbar-left {
        width: 28%;
    }
    .buttons {
        width: 60%;
    }
}

@media screen and (max-width: 767px) {
    
    .xs-only {
        display: inline-block;
    }

    .xs-hidden {
        display: none;
    }

    .app-view {
        width: calc(100% - 60px);
    }

    .left-menu {
        width: 60px;
        align-items: center;
    }

    .left-menu-top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .list-nav-top li {
        padding-left: 0;
        border-left: 0;
    }
    .list-nav-top li:first-child {
        border-left: 0;
    }

    .left-menu-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .download {
        border-color: transparent;
    }

    .logo {
        line-height: 50px;
        padding-left: 0;
    }
    #logo-xs {
        height: 30px;
    }

    .upgrade-panel {
        width: calc(100% - 60px);
    }

    .playbar i {
        font-size: 12px;
    }
    .buttons i:nth-child(3) {
        font-size: 18px;
    }

    .total-time {
        width: 60%;
    }
}

@media screen and (max-width: 520px) {

    .upgrade-button {
        padding: 5px 20px;
        border: solid 1px white;
        border-radius: 20px;
        font-size: 10px;
    }

    .playbar-left {
        padding: 0;
    }
    .song-image {
        display: none;
    }
    
    .playbar-right {
        flex-direction: column;
        justify-content: center;
    }
    .playbar-right-menu {
        width: 100%;
        justify-content: center;
    }
    .playbar-right-menu i {
        margin: 10px;
    }
    .volume {
        width: 100%;
    }
    .volume-bar {
        width: 70%;
    }
}